<div ui-view>
    <div class="top_message">
        <a ng-click="clk()"  class="back_message"></a>
        <span class="message">消息</span>
    </div>
    <div class="container_message">
        <dl>
            <dt><img src="./images/message_1.png" alt=""></dt>
            <dd><a ui-sref="home.message.comments">评论</a></dd>
        </dl>
        <dl>
            <dt><img src="./images/message_2.png" alt=""></dt>
            <dd>收藏和赞</dd>
        </dl>
        <dl>
            <dt><img src="./images/message_3.png" alt=""></dt>
            <dd>新的粉丝</dd>
        </dl>
        <dl>
            <dt><img src="./images/message_4.png" alt=""></dt>
            <dd>购好货最近联系人</dd>
        </dl>
        <dl>
            <dt><img src="./images/message_5.png" alt=""></dt>
            <dd>官方通知</dd>
        </dl>
    </div>
    <div class="hotActivity">
        <p>热门活动</p>
        <dl>
            <dt><img src="./images/message1.png" alt=""></dt>
            <dd>#<span>热门活动</span>#<span>谢谢惠顾--叮咚大闸蟹邀请你品尝</span></dd>
            <dd><span>10月31日 00:00结束</span></dd>
        </dl>
        <dl>
            <dt><img src="./images/message2.png" alt=""></dt>
            <dd>#<span>热门活动</span>#<span>谢谢惠顾--叮咚大闸蟹邀请你品尝</span></dd>
            <dd><span>10月31日 00:00结束</span></dd>
        </dl>
        <dl>
            <dt><img src="./images/message3.png" alt=""></dt>
            <dd>#<span>热门活动</span>#<span>谢谢惠顾--叮咚大闸蟹邀请你品尝</span></dd>
            <dd><span>10月31日 00:00结束</span></dd>
        </dl>
    </div>
    <p class="help_top"></p>
</div>