
		<p class="help_allkindTop"></p>
		<!--、大框-->
		<div class="home_allKind">
			
		<!--头部-->
		<header>
			<!--返回按钮-->
			全部分类<a ui-sref="home"></a>
			<!--搜索按钮-->
			<a ui-sref="home.search_index"></a>
		</header>
		<!--列表-->
		<ul class="home_allKindList"   ng-click="display_more(e)">
			<li class="dis_li">
				<!--主体商品图片-->
				<img src="./images/home_allkind1.jpg" />
				时令食材
				<!--右边下箭头 - 更多-->
				<span><img src="./images/my_more.png" /></span>
				<p class="clearfix"></p>
				<ul class="sonMenu">
					<li><a href="##">a</a>
					<a href="##">a</a>
					<a href="##">a</a>
					
					<li><a href="##">a</a>
					<a href="##">a</a>
					<a href="##">a</a></li>
					
					<li><a href="##">黄瓜</a>
					<a href="##">豌豆</a>
					<a href="##">小龙虾</a></li>
					
					<li><a href="##">草鱼</a>
					<a href="##">排骨</a>
					<a href="##">鸡肉</a></li>
					
					<li><a href="##">西瓜</a>
					<a href="##">西红柿</a>
					<a href="##">豌豆</a></li>
				</ul>
			</li>
			<li class="dis_li">
				<img src="./images/home_allkind2.jpg" />
				热门
				<span><img src="./images/my_more.png" /></span>
				<p class="clearfix"></p>
				<ul class="sonMenu">
					<li><a href="##">b</a>
					<a href="##">b</a>
					<a href="##">b</a>
					
					<li><a href="##">b</a>
					<a href="##">b</a>
					<a href="##">b</a></li>
					
					<li><a href="##">黄瓜</a>
					<a href="##">豌豆</a>
					<a href="##">小龙虾</a></li>
					
					<li><a href="##">草鱼</a>
					<a href="##">排骨</a>
					<a href="##">鸡肉</a></li>
					
					<li><a href="##">西瓜</a>
					<a href="##">西红柿</a>
					<a href="##">豌豆</a></li>
				</ul>
			</li>
			<li class="dis_li">
				<img src="./images/home_allkind3.jpg" />
				口味
				<span><img src="./images/my_more.png" /></span>
				<p class="clearfix"></p>
				<ul class="sonMenu">
					<li><a href="##">c</a>
					<a href="##">c</a>
					<a href="##">c</a>
					
					<li><a href="##">c</a>
					<a href="##">c</a>
					<a href="##">c</a></li>
					
					<li><a href="##">黄瓜</a>
					<a href="##">豌豆</a>
					<a href="##">小龙虾</a></li>
					
					<li><a href="##">草鱼</a>
					<a href="##">排骨</a>
					<a href="##">鸡肉</a></li>
					
					<li><a href="##">西瓜</a>
					<a href="##">西红柿</a>
					<a href="##">豌豆</a></li>
				</ul>
			</li>
			<li>
				<img src="./images/home_allkind4.jpg" />
				蔬菜
				<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind5.jpg" />
				肉类
				<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind6.jpg" />
				水产
				<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind7.jpg" />
				主食<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind8.jpg" />
				菜系<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind9.jpg" />
				神奇芝士<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind10.jpg" />
				烘焙天堂<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind11.jpg" />
				母婴专区<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind12.jpg" />
				食疗养生<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind13.jpg" />
				美容瘦身<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind14.jpg" />
				蛋奶豆制品<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind15.jpg" />
				水果干果<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind16.jpg" />
				米面杂粮<span><img src="./images/my_more.png" /></span>
			</li>
			<li>
				<img src="./images/home_allkind17.jpg" />
				烹饪方法及工具<span><img src="./images/my_more.png" /></span>
			</li>
		</ul>
</div>
<p class="help_bottom"></p>
