
		<!--大框-->
		<div class="comments_box">
			<!--顶部  圈圈-->
			
			<header class="comments_top">
				<p>评论<a href="##"></a>
					<a href="##"></a>
				</p>
			</header>
			<p class="comments_help"></p>
			
			<div class="comments_items">
				<div class="comments_item">
					<div class="comments_title">
						<dl>
							<dt>
								<img src="./images/user_img.jpg" />
							</dt>
							<dd>
								<p>艾米厨房</p>
								<p>20小时前</p>
							</dd>
						</dl>
					</div>
					
					<div class="comments_myWord">
						回复了你的评论 <span>棒</span>
					</div>
					
					<div class="comments_hisWord">
						@<span>xiejiaxin</span>
						<span>谢谢！</span>
					</div>
					
					<p class="comments_reply">
						<span>回复</span>
					</p>
				</div>
				
				
			</div>

			
			<div class="comments_end"></div>
		</div>
	</body>
</html>
