<div ui-view>
	<div id="buyGoods_box">

		<div class="buyGoods_header">
			<a ui-sref="home.search_index" class="buyGoods_search"></a>
			购好货
			<a ui-sref="buyGoods.cart" class="buyGoods_cart">
				<span ng-controller="buyGoodsCtrl">{{buyGoodsCartNum}}</span>
			</a>
		</div>

		<div class="buyGoods_clearfix"></div>

		<div class="buyGoods_search">
			<input type="text" placeholder="搜索商品" />
		</div>

		<div class="buyGoods_sort">
			<div class="buyGoods_up">
				<a href="##">
					<div><img src="./images/half.png" /></div>
					<p>半成品</p>
				</a>
				<a href="##">
					<div><img src="./images/liang.png" /></div>
					<p>粮油调味</p>
				</a>
				<a href="##">
					<div><img src="./images/hong.png" /></div>
					<p>烘焙美厨</p>
				</a>
				<a href="##">
					<div><img src="./images/xiuxian.png" /></div>
					<p>休闲食品</p>
				</a>
			</div>
			<div class="buyGoods_down">
				<a href="##">
					<div><img src="./images/jing.png" /></div>
					<p>精选生鲜</p>
				</a>
				<a href="##">
					<div><img src="./images/jinkou.png" /></div>
					<p>进口食品</p>
				</a>
				<a href="##">
					<div><img src="./images/jiu.png" /></div>
					<p>酒水茶饮</p>
				</a>
				<a href="##">
					<div><img src="./images/chufang.png" /></div>
					<p>厨房电器</p>
				</a>
			</div>
		</div>

		<div class="buyGoods_clearfix1"></div>

		<div class="buyGoods_rob">
			<div class="buyGoods_title">

				<span class="buyGoods_title1">抢购专区</span>

				<span class="buyGoods_title2">距离本场结束</span>
				<span class="buyGoods_hour buyGoods_time">00</span> : <span class="buyGoods_minute buyGoods_time">58</span> : <span class="buyGoods_second buyGoods_time">38</span>
			</div>
			<div class="buyGoods_items">
				<div class="buyGoods_item">
					<div class="buyGoods_picture">
						<a href="##"></a>
					</div>
					<div class="buyGoods_name">
						日本calbee/卡乐比营养早餐水果……
					</div>
					<div class="buyGoods_price">
						¥ 55.00
					</div>
					<div class="buyGoods_oldPrice">
						¥ 65
					</div>
					<div class="buyGoods_surplus">
						<p>
							<span class="buyGoods_surplus1"></span>
							<span class="buyGoods_surplus2"></span>
							<span class="buyGoods_surplusNum">
									剩余23件
								</span>
						</p>
					</div>
				</div>

				<div class="buyGoods_item">
					<div class="buyGoods_picture">
						<a href="##"></a>
					</div>
					<div class="buyGoods_name">
						日本calbee/卡乐比营养早餐水果……
					</div>
					<div class="buyGoods_price">
						¥ 55.00
					</div>
					<div class="buyGoods_oldPrice">
						¥ 65
					</div>
					<div class="buyGoods_surplus">
						<p>
							<span class="buyGoods_surplus1"></span>
							<span class="buyGoods_surplus2"></span>
							<span class="buyGoods_surplusNum">
									剩余23件
								</span>
						</p>
					</div>
				</div>

				<div class="buyGoods_item">
					<div class="buyGoods_picture">
						<a href="##"></a>
					</div>
					<div class="buyGoods_name">
						日本calbee/卡乐比营养早餐水果……
					</div>
					<div class="buyGoods_price">
						¥ 55.00
					</div>
					<div class="buyGoods_oldPrice">
						¥ 65
					</div>
					<div class="buyGoods_surplus">
						<p>
							<span class="buyGoods_surplus1"></span>
							<span class="buyGoods_surplus2"></span>
							<span class="buyGoods_surplusNum">
									剩余23件
								</span>
						</p>
					</div>
				</div>
			</div>
			<div class="buyGoods_foreshow">
				<a href="##">
					下场预告10:00 开抢<span> > </span>
				</a>

			</div>
		</div>

		<div class="buyGoods_clearfix1"></div>

		<div class="buyGoods_recommend">
			<div class="buyGoods_recommendTitle">
				<span>为你推荐</span>
			</div>
			<div class="buyGoods_recommendItems">
				<div class="buyGoods_recommendItem">
					<a href="##">
						<div class="buyGoods_recommendPicture"></div>
						<div class="buyGoods_recommendType">
							大闸蟹现货抢！
						</div>
					</a>
				</div>
				<div class="buyGoods_recommendItem">
					<a href="##">
						<div class="buyGoods_recommendPicture"></div>
						<div class="buyGoods_recommendType">
							烘焙原料99减30
						</div>
					</a>
				</div>
				<div class="buyGoods_recommendItem">
					<a href="##">
						<div class="buyGoods_recommendPicture"></div>
						<div class="buyGoods_recommendType">
							今日促销
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="buyGoods_clearfix1"></div>

		<div class="buyGoods_lost">
			<div class="buyGoods_lostTitle">
				<span>必败专场</span>
			</div>

			<div class="buyGoods_lostItems">
				<div class="buyGoods_lostItem">
					<a href="##">
						<img src="./images/bai1.jpg" />
					</a>
				</div>
				<div class="buyGoods_lostItem">
					<a href="##">
						<img src="./images/bai2.jpg" />
					</a>
				</div>
				<div class="buyGoods_lostItem">
					<a href="##">
						<img src="./images/bai3.jpg" />
					</a>
				</div>
				<div class="buyGoods_lostItem">
					<a href="##">
						<img src="./images/bai4.jpg" />
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--下半部分-->
	<!--<Header class="goods_head">
    <span></span>
    <p>购好货</p>
    <span><a></a></span>
    <span>3</span>
</Header>
<p class="help_top"></p>-->
	<nav class="goods_nav">
		<ul>
			<li>
				<a>综合</a>
			</li>
			<li>
				<a ng-click="bySaleCount()">销量</a>
			</li>
			<li>
				<a>价格</a>
				<div>
					<span ng-click="bySalePriceUp()">
        		
        	</span>
					<span ng-click="bySalePriceDown()">
        		
        	</span>
				</div>
			</li>
			<li>
				<a ng-click="filterGoods()">筛选</a>
			</li>
		</ul>
	</nav>
	<!--筛选框-->
<ul class="ul_FilterGoods">
		<li>
			<span>产品名称</span>
			<input type="text" placeholder="搜索商品名称" ng-model="filterCondition" />
		</li>
		<li class="countRan">
			<span>销量区间</span>
			<input type="text" placeholder="1件" ng-model="countStart" /> -
			<input type="text" placeholder="100件" />
			<button ng-click="filterCount()">搜索</button>
		</li>
		<li class="priceRan">
			<span>价格区间</span>
			<input type="text" placeholder="￥0" /> -
			<input type="text" placeholder="￥100" />
			<button ng-click="filterPrice()">搜索</button>
		</li>
	</ul>
	<!--货品详细信息-->
	<div class="mod_goods">
		<a ui-sref="buyGoods.goods_detail" 
			ng-repeat="x in dataNew | filter:filterCondition | orderBy:orderCondition " 
			ng-click="clkBuyGoods(x.id)">
			<img ng-src="{{x.image}}" class="goods_img" alt="">
			<div class="goods_content">
				<p>{{x.name}}</p>
				<p>{{x.price}}</p>
				<p>{{x.ori_price}}</p>
				<p>{{x.all_sale_count}}人已付款</p>
			</div>
		</a>

		<div class="goods_buy">
			<h2>大家都在买</h2>
			<ul>
				<li>
					<a href="#">牛排</a>
					<a href="#">花生油</a>
				</li>
				<li>
					<a href="#">蛋挞皮</a>
					<a href="#">卡乐比</a>
				</li>
				<li>
					<a href="#">红枣夹核桃</a>
					<a href="#">大米</a>
				</li>
				<li>
					<a href="#">北极甜虾</a>
					<a href="#">淡奶油</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="more_buyGoods" ng-click="toggle()"><span>↓↓↓点击查看更多↓↓↓</span></div>
	<div class="mod_goods1" ng-show="flag">
		<a ui-sref="buyGoods.goods_detail" 
			ng-repeat="x in dataMore">
			<img ng-src="{{x.image}}" class="goods_img" alt="">
			<div class="goods_content">
				<p>{{x.name}}</p>
				<p>{{x.ori_price}}</p>
				<p>{{x.price}}</p>
				<p>{{x.all_sale_count}}人已付款</p>
			</div>
		</a>
	</div>

</div>
<p class="help_bottom"></p>